/* Design Mobile */

@font-face{
    font-family: ProductSans-Bold;
    src: url('../fonts/ProductSans-Bold.ttf');
}
@font-face{
    font-family: ProductSans;
    src: url('../fonts/ProductSans-Medium.ttf');
}
h1{
    font-family: ProductSans-Bold, sans-serif;
    font-size: 100%;
    text-align: center;
    margin-bottom: 10px;
    color: #707070;
}
nav{
    text-align: center;
}
#logo{
    width: 30%;
    margin-top: 10px;
}
#selina{
    width: 45vw;
    z-index: -1;
}
.selinaInicial{
    position: fixed;
}
.story{
    border: solid 1px #707070;
    border-radius: 30px;
    background-color: #ffffff;
    box-shadow: 1px 3px 6px rgba(0,0,0,0.16);
    
}
.story1{
    margin-top: 44%;
}
.story2{
    margin-top: 4vh;
}
p{
    font-family: ProductSans, sans-serif;
    font-size: 100%;
    color: #707070;
    margin: 22px;
}
#jogar{
    position: fixed;
    z-index: 1030;
    border: solid 1px #707070;
    background-color: #732BE1;
    border-radius: 34px;
    box-shadow: 1px 3px 6px rgba(214,129,255,0.16);
    margin-top: 75vh;

}
#jogar p{
    color: #fff;
    margin: 2vh 15vw;
}
#socialMedia{
    width: 10vw;
}

footer{
    margin-top: 100px;
}

a:link {
    color: #732BE1;
  }
  
  /* visited link */
  a:visited {
    color: rgb(101, 18, 224);
  }
  
  /* mouse over link */
  a:hover {
    color: #732BE1;
    text-decoration: none;
  }
  
  /* selected link */
  a:active {
    color: rgb(53, 12, 116);
  }

/* Design Tablet */

@media (min-width:768px){
    #logo{
        width: 180px;
    }
    h1{
        font-size: 3vw;
    }
    #selina{
        width: 15vw;
    }
    #jogar p{
        color: #fff;
        margin: 2vh 5vw;
    }
    #jogar{
        margin-top: 65vh;
    }
    .story1{
        margin-top: 14%;
    }
    p{
        font-size: 2vw;
    }
    #socialMedia{
        width: 4vw;
    }
    .site{
        padding-left: 10%;
    }
    .git{
        padding-left: 10%;
    }
}

/* Design Desktops */ 
@media (min-width: 1025px) {
    h1{
        font-size: 3vw;
    }
    #selina{
        width: 15vw;
    }
    #jogar p{
        color: #fff;
        margin: 2vh 5vw;
    }
    #jogar{
        margin-top: 60vh;
    }
    .story1{
        margin-top: 14%;
    }
    p{
        font-size: 2vw;
    }
    #socialMedia{
        width: 4vw;
    }
    .site{
        padding-left: 10%;
    }
    .git{
        padding-left: 10%;
    }
}